<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">
	
    <title>See Dev</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="../static/js/html5shiv.js"></script>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="col-md-12 text-center">
								<h1>SEE DEV</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /////////////////////////////////////////Navigation -->
	<div id="nav-wrapper">
		<div id="nav" class="navbar navbar-default navbar-inner">
			<div class="container">
		
				<!-- BAR CONTENTS -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				   <span class="sr-only">Toggle navigation</span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll first" href="#nav-services">介绍</a>
						</li>
						<li>
							<a class="page-scroll" href="#nav-event">功能</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
												<li>
							<a class="page-scroll" href="#nav-gallery">可视化展示</a>
						</li>
						<li>
							<a class="page-scroll" href="#nav-adventures">数据探索</a>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			

			</div> <!-- row -->
		</div> <!-- nav -->
	</div> <!-- wrapper -->
	<!-- Navigation -->
	
	<header>
		<div class="box-shadow">
			<!-- Carousel -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../static/pic/taxi.jpg" alt="First slide">
						<!-- Static Header -->
						<div class="header-text hidden-xs">
							<div class="col-md-12 text-center">
								<h1>Exploration on the big data of the New York taxi</h1>
							</div>
						</div><!-- /header-text -->
					</div>
					<div class="item">
						<img src="../static/pic/bg3.PNG" alt="Second slide">
						<!-- Static Header -->
						<div class="header-text hidden-xs">
							<div class="col-md-12 text-center">
								<h1> NYC|(TLC Trip Record Data)</h1>
							</div>
						</div><!-- /header-text -->
					</div>
					<div class="item">
						<img src="../static/pic/bg2.jpg" alt="Third slide">
						<!-- Static Header -->
						<div class="header-text hidden-xs">
							<div class="col-md-12 text-center">
								<h1>Let's find out what<br/>happened to the New York Citizens!</h1>
							</div>
						</div><!-- /header-text -->
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div><!-- /carousel -->
		</div>
	</header>
	<!-- /Section: intro -->

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">

	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1" id="nav-services">
			<div class="container">
				<div class="heading">
					<h2>介绍</h2>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="box-item">
							<h3>MongoDB</h3>
							<p>以Replica Set 和 Sharding 两种技术结合使用的分布式MongoDB集群。集群的工作方式能够保证在生产遇到故障时及时恢复，保障应用程序正常地运行和数据的安全。</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<h3>订单查询</h3>
							<p>提供数据介绍、查询、可视化等功能</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<h3>需求预测</h3>
							<p>预测纽约市出租车出行的总行驶时间，方便用户知道自己行程时间，也方便出租车司机进行下一单的接单</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-item">
							<h3>可视化展示与数据探索</h3>
							<p>探索纽约城市市民的打车出行习惯，挖掘更细致的城市出行行为</p>
						</div>
					</div>
				</div>
			</div>
		</section>

				<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-3">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<blockquote><p>SeeDev——基于TLC数据的订单行为分析与信息检索大数据平台。</p></blockquote>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2 box-style-1" id="nav-event">
			<div class="container">
				<div class="heading">
					<h2>功能</h2>
				</div>
				<div class="row">
					<div class="wrap">
						<div class="col-md-4">
							<div class="box-item">
								<h3>订单查询</h3>
								<p>订单管理是后台系统中较为重要的一部分，它记录了所有的交易数据，可以对订单进行监控和操作，与用户、运营、财务等都有着密切的关系。</p>
								<a href="{{ url_for('func') }}" class="btn btn-skin">push for more</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-item">
								<h3>行程预测</h3>
								<p>在该功能中，我们需要建立一个模型来预测纽约市出租车出行的总行驶时间，方便用户知道自己行程时间，也方便出租车司机进行下一单的接单</p>
								<a href="{{ url_for('func') }}" class="btn btn-skin">push for more</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-item" >
								<h3>可视化展示与数据探索</h3>
								<p>对订单数进行可视化展示，对数据进行定量分析，探索纽约城市市民的打车出行习惯，挖掘更细致的城市出行行为。</p>
								<a href="#nav-adventures" class="btn btn-skin">push for more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5" id="nav-adventures">
			<div class="container">
				<div class="row heading">
	                <h2>数据探索</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/pic/k1.png" class="img-responsive"/>
							<div class="content">
								<h3>市民出行规律探索</h3>
								<p>何时为打车需求高发期？推测订单数量可能与星期几有关? 城市一天的什么时候最为拥堵呢？人都去哪了？......</p>
								<a href="{{ url_for('novel1') }}">了解更多</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/pic/k2.png" class="img-responsive"/>
							<div class="content">
								<h3>出行位置可视化分析</h3>
								<p>机场是慢行的起源地，对机场周围的地区观察，在新泽西州的哈德逊河和纽瓦克机场附近，有许多快速旅行皮卡......</p>
								<a href="{{ url_for('novel2') }}">了解更多</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="../static/pic/k3.png" class="img-responsive"/>
							<div class="content">
								<h3>基本数据探索性可视化分析</h3>
								<p>超过200000 TLC许可证持有人每天完成约1000000次旅行，所以其每天产生大量的数据可供我们观察行业的变化趋势......</p>
								<a href="{{ url_for('novel3') }}">了解更多</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
	
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
						<div class="copyright">Copyright &copy; 2021 CWH Work Studio All rights reserved.</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->

	<!-- jQuery -->
	<script src="../static/js/jquery-2.1.1.js"></script>


	<!-- Bootstrap Core JavaScript -->
	<script src="../static/js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../static/js/agency.js"></script>

	<!-- Animated Top -->
	<script src="../static/js/jquery.easing.min.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/cbpAnimatedHeader.js"></script>

	<script>
		$(function() {
			$('#nav-wrapper').height($("#nav").height());
			
			$('#nav').affix({
				offset: { top: $('#nav').offset().top }
			});
		});
	</script>
	
	<!-- carousel -->
	<script src="../static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
        itemsDesktopSmall : [979,2],
		navigation: false,
      });
    });
    </script>
	
	<!-- Google Map -->
	<script>
		$('.maps').click(function () {
		$('.maps iframe').css("pointer-events", "auto");
	});

	$( ".maps" ).mouseleave(function() {
	  $('.maps iframe').css("pointer-events", "none"); 
	});
	</script>
	
</body>
</html>